#group_article div.bibbase_group i+span {
    display: none;
}

#group_inproceedings div.bibbase_group i+span {
    display: none;
}

#group_mastersthesis div.bibbase_group i+span {
    display: none;
}

#group_phdthesis div.bibbase_group i+span {
    display: none;
}

#group_techreport div.bibbase_group i+span {
    display: none;
}

#group_unpublished div.bibbase_group i+span {
    display: none;
}

#group_incollection div.bibbase_group i+span {
    display: none;
}

#group_article div.bibbase_group i:after {
    content: " Journal Articles"
}

#group_inproceedings div.bibbase_group i:after {
    content: " Conference Papers"
}

#group_mastersthesis div.bibbase_group i:after {
    content: " Master's Thesis"
}

#group_phdthesis div.bibbase_group i:after {
    content: " PhD Thesis"
}

#group_techreport div.bibbase_group i:after {
    content: " Technical Report"
}

#group_unpublished div.bibbase_group i:after {
    content: " Unpublished"
}

#group_incollection div.bibbase_group i:after {
    content: " In Collection"
}