:root {
    /*Font Style*/
    --pico-font-family: "Courier New";
    --pico-line-height: 1.5;
    --pico-font-weight: 500;
    --pico-font-size: 100%;
    --pico-text-underline-offset: 0.1rem;
    --pico-block-spacing-vertical: 0.5rem;
    --pico-block-spacing-horizontal: 0.5rem;
    /*Navigation*/
    --pico-nav-element-spacing-vertical: 1rem;
    --pico-nav-element-spacing-horizontal: 0.5rem;
    --pico-nav-link-spacing-vertical: 0.5rem;
    --pico-nav-link-spacing-horizontal: 0.5rem;
    --pico-spacing: 0.5rem;
    /*Button Style*/
    --pico-border-radius: 0.25rem;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 0.5rem;
}

a {
    --pico-text-decoration: none;
}

a.secondary,
a.contrast {
    --pico-text-decoration: none;
}

pre,
code,
kbd,
samp {
    --pico-font-family: "Robot";
}

kbd {
    --pico-font-weight: none;
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    color-scheme: dark;
    /*Primary Color Style*/
    --pico-background-color: rgb(0, 0, 0);
    --pico-muted-color: #0000ff;
    --pico-primary: #0000ff;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgb(0, 0, 255);
    --pico-primary-hover: #0000ff;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-color: #ffffff;
    --pico-h1-color: #ffffff;
    --pico-h2-color: #ffffff;
    --pico-h3-color: #808080;
    --pico-h4-color: #ffffff;
    --pico-h5-color: #ffffff;
    --pico-h6-color: #ffffff;
    /*Secondary Color Style*/
    --pico-secondary: #ffffff;
    --pico-secondary-background: #ffffff;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: none;
    --pico-secondary-hover: #ffffff;
    --pico-secondary-hover-background: #ffffff;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: none;
    --pico-secondary-inverse: #fff;
    /*Constrast Color Style*/
    --pico-contrast: #dfe3eb;
    --pico-contrast-background: #eff1f4;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgb(255, 255, 255);
    --pico-contrast-hover: #ffffff;
    --pico-contrast-hover-background: #ffffff;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: none;
    --pico-contrast-inverse: #000;
    /*Card Color Style*/
    --pico-card-background-color: #0000ff;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: rgb(251, 251.5, 252.25);
    /*Code Color Style*/
    --pico-code-background-color: rgb(0, 0, 255);
    --pico-code-color: #ffffff;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    /*Form Element Color Style*/
    --pico-form-element-background-color: rgb(16, 16, 16);
    --pico-form-element-selected-background-color: #2a3140;
    --pico-form-element-border-color: #2a3140;
    --pico-form-element-color: #ffffff;
    --pico-form-element-placeholder-color: #808080;
    --pico-form-element-active-background-color: rgb(16, 16, 16);
    --pico-form-element-active-border-color: #0000ff;
    --pico-form-element-focus-color: none;
    --pico-form-element-disabled-opacity: 0.5;
}