:root {
    /*Font Style*/
    --pico-font-family: "Roboto", sans-serif;
    text-align: justify;
    --pico-line-height: 1.5;
    --pico-font-weight: 300;
    --pico-font-size: auto;
    --pico-text-underline-offset: 0.1rem;
    --pico-block-spacing-vertical: 0.5rem;
    --pico-block-spacing-horizontal: 0.5rem;
    /*Navigation*/
    --pico-nav-element-spacing-vertical: 2rem;
    --pico-nav-element-spacing-horizontal: 0.5rem;
    --pico-nav-link-spacing-vertical: 0.5rem;
    --pico-nav-link-spacing-horizontal: 0.5rem;
    --pico-spacing: 0.5rem;
    /*Button Style*/
    --pico-border-radius: 0.25rem;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 0.5rem;
}

a {
    --pico-text-decoration: none;
}

a.secondary,
a.contrast {
    --pico-text-decoration: none;
}

a:hover,
a:active,
a:link {
    --pico-text-decoration: none;
}

pre,
code,
kbd,
samp {
    --pico-font-family: "Roboto", sans-serif;

}

h3 {
    font-style: italic;
}

kbd {
    --pico-font-weight: none;
}

details>summary::after,
/* Latest Chrome, Edge, Firefox */
details>summary::-webkit-details-marker

/* Safari */
    {
    display: none;
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    color-scheme: dark;
    /*Primary Color Style*/
    --pico-background-color: none;
    --pico-color: #000000;
    --pico-h1-color: #000080;
    --pico-h2-color: #ffffff;
    --pico-h3-color: #000080;
    --pico-h4-color: #ffffff;
    --pico-h5-color: #ffffff;
    --pico-h6-color: #ffffff;
    --pico-mark-background-color: #000000;
    --pico-mark-color: #ffffff;
    --pico-code-kbd-background-color: #000080;
    --pico-code-kbd-color: #ffffff;
    --pico-ins-color: #2E6F40;
    --pico-del-color: rgb(205.5, 126, 123);
    --pico-muted-color: #000000;
    /*Primary Color Style*/
    --pico-primary: #2E6F40;
    --pico-primary-border: none;
    --pico-primary-underline: none;
    --pico-primary-hover: #2E6F40;
    --pico-primary-hover-border: none;
    --pico-primary-hover-underline: none;
    /*Secondary Color Style*/
    --pico-secondary: #000000;
    --pico-secondary-background: #000000;
    --pico-secondary-border: none;
    --pico-secondary-underline: none;
    --pico-secondary-hover: #000000;
    --pico-secondary-hover-background: #000000;
    --pico-secondary-hover-border: none;
    --pico-secondary-hover-underline: none;
    --pico-secondary-focus: none;
    --pico-secondary-inverse: #fff;
    /*Constrast Color Style --> Navigation Bar*/
    --pico-contrast: #000000;
    --pico-contrast-background: #000000;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgb(255, 255, 255);
    --pico-contrast-hover: none;
    --pico-contrast-hover-background: none;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: none;
    --pico-contrast-inverse: #00000;
    /*Button Style*/
    --pico-button-box-shadow: none;
    --pico-button-hover-box-shadow: none;
    /*Card Style*/
    --pico-card-background-color: #0077b3;
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: rgb(204, 204, 204);
    /*Code Style*/
    --pico-code-background-color: rgb(245, 245, 245);
    --pico-code-color: #000000;
    /*Form Element Style*/
    --pico-form-element-background-color: rgb(245, 245, 245);
    --pico-form-element-selected-background-color: #cccccc;
    --pico-form-element-border-color: none;
    --pico-form-element-color: #000000;
    --pico-form-element-placeholder-color: #000000;
    --pico-form-element-active-background-color: rgb(245, 245, 245);
    --pico-form-element-active-border-color: none;
    --pico-form-element-focus-color: none;
    --pico-form-element-disabled-opacity: 0.5;
}