:root {
    /*Button Style*/
    --pico-border-radius: 0.25rem;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 0.5rem;
    /*Font Style*/
    --pico-font-family: "Roboto", sans-serif;
    --pico-font-weight: 400;
    --pico-typography-spacing-vertical: 0.5rem;
}

a {
    --pico-text-decoration: none;
}

a.secondary,
a.contrast {
    --pico-text-decoration: none;
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    color-scheme: dark;
    /*Overall Color Style*/
    --pico-background-color: rgb(0, 0, 0);
    --pico-muted-color: #0000ff;
    --pico-primary: #0000ff;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgb(0, 0, 255);
    --pico-primary-hover: #0000ff;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-color: #ffffff;
    --pico-h1-color: #ffffff;
    --pico-h2-color: #ffffff;
    --pico-h3-color: #5f5f5f;
    --pico-h4-color: #ffffff;
    --pico-h5-color: #ffffff;
    --pico-h6-color: #ffffff;
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: var(--pico-background-color);
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: rgb(251, 251.5, 252.25);
}