:root {
    /*Button Style*/
    --pico-border-radius: 0.25rem;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 0.5rem;
    /*Font Style*/
    --pico-font-family: "Roboto", sans-serif;
    --pico-font-weight: 400;
    --pico-typography-spacing-vertical: 0.5rem;
}