:root {
    /*Button Style*/
    --pico-border-radius: 0.25rem;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 0.5rem;
    /*Font Style*/
    --pico-font-family: "Roboto", sans-serif;
    --pico-font-weight: 400;
    --pico-typography-spacing-vertical: 0.5rem;
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    color-scheme: dark;
    /*Overall Color Style*/
    --pico-background-color: rgb(4, 18, 29);
    --pico-muted-color: #02659A;
    --pico-primary: #02659A;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgb(2, 101, 154);
    --pico-primary-hover: #02659A;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-color: #ffffff;
    --pico-h1-color: #ffffff;
    --pico-h2-color: #ffffff;
    --pico-h3-color: #02659A;
    --pico-h4-color: #ffffff;
    --pico-h5-color: #ffffff;
    --pico-h6-color: #ffffff;
}