:root {
    /*Button Style*/
    --pico-border-radius: 0.25rem;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 0.5rem;
    /*Font Style*/
    --pico-font-family: "Roboto", sans-serif;
    --pico-font-weight: 400;
    --pico-typography-spacing-vertical: 0.5rem;
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    color-scheme: dark;
    /*Overall Color Style*/
    --pico-background-color: rgb(0, 0, 0);
    --pico-color: #666666;
    --pico-text-selection-color: rgb(255, 255, 255);
    --pico-muted-color: #ffffff;
    --pico-muted-border-color: #ffffff;
    --pico-primary: #00bbff;
    --pico-primary-background: #000000;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgb(0, 0, 0);
    --pico-primary-hover: #696969;
    --pico-primary-hover-background: #000000;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgb(0, 0, 0);
    --pico-primary-inverse: #fff;
}